<div class="text-center">
  <h1 >
    Project Manager
  </h1>

<nav>

  <a routerLinkActive="active" routerLink="/addUser" style="margin-right:32px"> Add User     </a>
 
<a routerLinkActive="active" routerLink="/addTask" style="margin-right:32px"> Add Task     </a>
<a routerLinkActive="active" routerLink="/viewTask" style="margin-right:32px" > View Task</a>
<a routerLinkActive="active" routerLink="/addProject" style="margin-right:32px"> Add Project </a>

</nav>
</div>
<router-outlet></router-outlet>
