<div class="container-fluid">
<h2>
  View Task
</h2>
<div class="row">

  <div class="form-group col-sm-3">
    <label>Project:</label>
    <input type="text" placeholder="project" required class="form-control" 
      name="project" id="project">
  </div>

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myProjectModal">Search</button>


<div class="form-group col-sm-6">
  <label>Task:</label>
  <input class="form-control" type="text" (keyup)='searchTask($event.target.value)'/>
</div>

<div class="form-group col-sm-6">
    <label>Parent Task:</label>
    <input class="form-control" type="text" (keyup)='searchParentTask($event.target.value)'/>
</div>

</div>

<div class="row">
  

  <div class="form-group col-sm-3">
      <label>StartDate:</label>
      <input class="form-control" type="date" (keyup)='searchStartDate($event.target.value)'/>
  </div>

  <div class="form-group col-sm-3">
      <label>EndDate:</label>
      <input class="form-control" type="date" (keyup)='searchEndDate($event.target.value)'/>
  </div>

</div>


</div>
    <table class="table table-stripped" [mfData]="tasks" #mf="mfDataTable" [mfRowsOnPage]="10" >
      <thead>
        <tr>
          <th>  <mfDefaultSorter by="task">Task</mfDefaultSorter></th>
          <th>  <mfDefaultSorter by="parentTask">Parent</mfDefaultSorter> </th>
          <th>  <mfDefaultSorter by="priority">Priority</mfDefaultSorter> </th>
          <th>  <mfDefaultSorter by="startDate">Start</mfDefaultSorter> </th>
          <th>  <mfDefaultSorter by="endDate">End</mfDefaultSorter> </th>
        </tr>
      </thead>

<tbody>
<tr *ngFor="let task of mf.data">
<td>{{task.taskName}}</td>
<td>{{task.parentTask}}</td>
<td>{{task.priority}}</td>
<td>{{task.startDate}}</td>
<td>{{task.endDate}}</td>
<td>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="onEdit(task)">
    Edit
  </button>
  <button type="button" class="btn btn-danger" (click)="delete(task.taskId)">
      End Task
    </button>
</td>
</tr>
</tbody>
    </table>
 

<div class="modal" id="myModal" >
  <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Update form</h4>
    </div>

    <div class="modal-body">
        <form>
    
            <div class="form group">
             
              <label>Task: </label>
              <input type="text" required class="form-control" name="taskName" id="taskName"  [(ngModel)]="model.taskName">
            
            </div>
            
            <div class="form group">
             
                <label>Priority: </label>
                <input type="range" min=0 max=306666 required class="form-control" name="priority" id="priority"  [(ngModel)]="model.priority">
              
            </div>
            
            <div class="form group">
             
                <label>Parent Task: </label>
                <input type="text" required class="form-control" name="parentTask" id="parentTask" [(ngModel)]="model.parentTask">
              
            </div>
            
            <div class="form group">
             
                <label>Start Date:  </label>
                <input type="date" required class="form-control" name="startDate" id="startDate"  [(ngModel)]="model.startDate">
              
            </div>
            
            <div class="form group">
             
                <label>End Date;  </label>
                <input type="date" required class="form-control" name="endDate" id="endDate"  [(ngModel)]="model.endDate">
              
            </div>
            <div>
            <button class="btn btn-primary" type="submit" (click)="update()">Update Task</button> &nbsp; &nbsp; &nbsp;
            
            <button class="btn btn-primary" type="button" data-dismiss="modal" >Cancel </button>
        </div>
            </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>

    


    <div class="modal" id="myProjectModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              <div>
                  <input type="text" class="form-control" id="searchProject" name="search" placeholder="Search..." (keyup)='searchProject($event.target.value)'>
                </div>
                <select class="form-control" [(ngModel)]="project" >
                  <option value="Default">.....Choose Project.....</option>
                  <option *ngFor="let project of projectsList" [ngValue]="project" id="chosenProject" name="chosenProject" >{{project.projectName}}</option>
                </select>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    
